@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;

}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

input {
	margin-bottom: 1em;
}

button {
	background-color: paleturquoise;
	color: white;
}

div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}